body {
    box-sizing: border-box;
    cursor:default;
}
nav{
    display: flex;
    justify-content: center;
    
}

nav a{
    margin-left: 10px;
    margin-right: 10px;
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 45px;
}

svg {
    font:11px sans-serif;
}

#tooltip {
    position: absolute;
    background: #E5EFCB;
    padding: 5px;
}

#legend-canvas {
    margin-top: 15px;
    padding: 15px;
}
